---js
{
  pagination: { data: "indexPages.topics", size: 1, alias: "p" },
  permalink: (data) => `${data.p.url}index.html`,
  layout: "layouts/base.njk",
  eleventyComputed: {
    title: (d) => d.i18n[d.p.lang].all_topics,
    htmlLang: (d) => d.p.lang,
    description: (d) => d.i18n[d.p.lang].catalog_intro.slice(0, 150),
    altUrls: (d) => d.p.alt,
    jsonldBlocks: (d) => d.ld.collection({
      url: d.p.url,
      lang: d.p.lang,
      name: d.i18n[d.p.lang].all_topics,
      description: d.i18n[d.p.lang].catalog_intro.slice(0, 150),
      items: d.kb.hubs
        .filter((h) => h.members[d.p.lang].length)
        .map((h) => ({ url: h.path[d.p.lang], title: h.title[d.p.lang] })),
    }),
  }
}
---
{%- set l = p.lang %}{% set t = i18n[l] %}
<h1>{{ t.all_topics }}</h1>
<p class="lede">{{ t.catalog_intro }}</p>

<ul class="cards">
{%- for h in kb.hubs %}
  {%- if h.members[l].length %}
  <li>
    <a href="{{ h.path[l] }}">{{ h.title[l] }}</a>
    <p>{{ h.members[l].length }} {{ t.sheets }}</p>
  </li>
  {%- endif %}
{%- endfor %}
</ul>

{%- if kb.unhubbed[l].length %}
<h2>{{ t.other_sheets }}</h2>
<ul class="cards">
{%- for m in kb.unhubbed[l] %}
  <li>
    <a href="{{ m.url }}">{{ m.title }}</a>
    <p>{{ m.description }}</p>
  </li>
{%- endfor %}
</ul>
{%- endif %}
